 :root {
     color-scheme: light dark;
     --background-color: light-dark(#1f4555, #102f3d);
     --background-h1: light-dark(#ffc0cb, #ff1493);
     --textcolor-h1: light-dark(#3f87a6, white);
     --border-h1: light-dark(white, white);
     --img-bordercolor: light-dark(#ffc0cb, #ff1493);
     --blockquote-textcolor: light-dark(#3f87a6, #0c2937);
     --textstroke-quote: light-dark(#ff69b499, #ff1493);
     --h2-hover: light-dark(#ffc0cb, #ff1493);
     --figureborder-color: light-dark(#ffc0cb, #ff1493);
     --figcaption-textcolor: light-dark(#3f87a6, #ff1493);
     --h3-color: light-dark(#3f87a6, #102f3d);
     --button-color: light-dark(#3f87a6, #102f3d);
     --lijstborder-color: light-dark(#3f87a6, white);
     --lijst-backgroundcolor: light-dark(pink, #ff1493);
     --lijst-hovercolor: light-dark(#ff69b4, pink);
 }

 body {
     background-color: var(--background-color);
     margin: 0;
     overflow-x: hidden;
 }

 h1 {
     color: var(--textcolor-h1);
     font-family: "Obviously-Regular";
     background-color: var(--background-h1);
     border: 2px solid var(--border-h1);
     height: 2em;
     border-radius: 3em;
     display: flex;
     justify-content: center;
     padding-top: 0.5em;
 }

 /*avatar en naam*/
 li {
     list-style: none;
     justify-content: center;
 }

 li img {
     width: 30%;
     display: block;
     margin: auto;
     border: 0.3em solid var(--img-bordercolor);
     border-radius: 2em;
     transition: border-color 0.3s ease;
 }

 li img:hover {
     border-color: #3f87a6;
 }



 /*Blockquote*/
 blockquote {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
     background-color: white;
     padding: 0.5em;
     border-radius: 1em;
     display: flex;
     justify-content: center;
     -webkit-text-stroke: 0.09em #ff69b499;
     font-size: 1.2em;
     font-weight: 800;
     color: var(--blockquote-textcolor);
 }


 h2 {
     justify-content: center;
     display: flex;
     text-align: center;
     padding-top: 1em;
     color: white;
     font-size: 2em;
     transition: color 0.8s ease;
 }

 h2:hover {
     color: var(--h2-hover);
 }

 @media (max-width:38em) {
     h2 {
         font-size: 1.5em;
     }

 }


 /*Leerdoelen*/
 section {
     display: flex;
     justify-content: center;
     padding-top: 4em;
 }

 section:nth-of-type(1) img{
    color:#ff1493;
 }

 figure {
     background-color: white;
     border-radius: 2em;
     padding: 1.5em;
     width: 15%;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-shadow*/
     border: 0.3em solid var(--figureborder-color);
     cursor: pointer;
 }

 figure:hover {
     transform: scale(1.05);
     box-shadow: 0 0 20px #ff69b499;
     background-color: #ffe0f0;
 }

 figure img {
     width: 80%;
     height: auto;
     margin-bottom: 1em;
     transition: transform 0.3s ease, filter 0.5s ease;
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/filter*/
 }

 figure:hover img {
     /*draaien en vergroten*/
     transform: rotate(-5deg) scale(1.05);
     filter: brightness(1.2);
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/brightness*/
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transform*/
 }

 figcaption {
     font-size: 0.9rem;
     color: var(--figcaption-textcolor);
     margin-top: 0.5em;
     font-style: italic;
     transition: color 0.3s ease;
 }

 /*kleur van tekst verandere bij hover*/
 figure:hover figcaption {
     color: #ff69b4;
 }

 @media (max-width:38em) {
     section {
         flex-direction: column;
         align-items: center;
         gap: 1em;
     }

     figure {
         width: 30%;
     }
 }


 /*Form*/
 section:nth-of-type(2) {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2em;
     background-color: #fdf0f5;
     margin-inline: 3em;
     border-radius: 2em;
     margin-top: 4em;
 }

 section form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1.2em;
 }

 h3 {
     display: flex;
     justify-content: center;
     color: var(--h3-color);
     font-family: 'Georgia', serif;
     font-size: 1.8em;
     margin-bottom: 0.5em;
     text-align: center;
 }

 /*season*/
 select {
     font-size: 1.3em;
     border: 0.2em solid pink;
     border-radius: 1em;
     background-color: white;
     cursor: pointer;
     transition: all 0.3s ease;
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition*/
     min-width: 12em;
     color: var(--button-color);
 }

 select:hover {
     background-color: #ffe0f0;
     transform: scale(1.05);
 }

 /*click me*/
 section form input {
     font-size: 1.3em;
     padding: 0.7em;
     padding-inline: 1em;
     border: 2px solid var(--button-color);
     border-radius: 1em;
     background-color: var(--button-color);
     color: white;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 /*Click me*/
 section form input:hover {
     background-color: #ff69b4;
     border-color: #ff69b4;
     transform: scale(1.05);
 }

 section form output {
     display: block;
     text-align: center;
     margin-top: 1em;
     font-size: 1.2em;
     font-weight: bold;
 }

 /*Lijst mensen*/
 #lijst-mensen {
     display: table;
     width: 80%;
     margin: auto;
 }

 #lijst-mensen li {
     display: table-cell;
     padding: 0.8em 1.5em;
     border: 2px solid var(--lijstborder-color);
     text-align: center;
     font-family: 'Arial', sans-serif;
     font-size: 1rem;
     background-color: var(--lijst-backgroundcolor);
     cursor: pointer;
     transition: all 0.3s ease;
 }

 /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/display*


     /* Hover effect */
 #lijst-mensen li:hover {
     background-color: var(--lijst-hovercolor);
     color: white;
     transform: scale(1.05);
 }

 @media (max-width: 38em) {
     #lijst-mensen {
         width: 95%;
     }

     #lijst-mensen li {
         display: block;
         margin-bottom: 0.5em;
         font-size: 0.9rem;
         padding-top: 0.5em;
     }
 }


 /*Hartje*/
 footer {
     align-items: center;
     justify-content: center;
     display: flex;
 }

 .container {
     position: relative;
     display: inline-block;
     width: 200px;
     height: 200px;
     margin: 20px;

 }

 .shape {
     width: 146%;
     height: 100%;
     background: deeppink;
     position: absolute;
     text-align: center;
     line-height: 0px;
 }

 .shape2 {
     scale: 0.3;
     clip-path: shape(from 20px 70px,
             arc to 100px 70px of 1% cw,
             arc to 180px 70px of 1% cw,
             curve to 100px 190px with 180px 130px,
             curve to 20px 70px with 20px 130px,
             close,
             move to 130px 180px,
             close);
 }

 /*https://developer.mozilla.org/en-US/play?uuid=2a5c20869ed3a09dc6ed21d65ac6681757fc6999&state=nVTbjpswEP2VEVXUzSokQBO1ZbdV%2B9YP6EulPKwxBrxrbGSbJCjKv9cXLiHdvFRCxj5z7DlzxnAOKl2zIA2ec3oAzJBS3%2FYBFlwjyoncB9%2F3HGAWVBVqCLgxNvHnjQka1vA2s%2F85KnnnqGAVYKWMuEzkHZztdsRoyUOqSa1SwIRrIp8s%2FtoqTYsutOkMOovlVDUMdSkUjJwMcrEi16Mwf3AjFNVU8BQkYUjTA5nvpZwZcpgxgd9c5EhzXaWQRFFzckBFaFnpa6RGsqTcIj2QIfxWStHy3AhlQqbA7J5Som7Q9UO1TSOkVsCFhgfMaBM2yGZyNj0UUtQQQbSCWhwIaGEXy6Uv4raoK%2F1ccF%2FRxQkxhqYpKvTEHJ3bB39EKyGT4qhMOBdE8Y8ael2gKwIvXsvyBYqWY2sbdESv98GQwTxr39zzlVdxFC1mVo3AZEwKH5IMb1HyNO8KypRgrfY1aHLSobsKs0a7Dg1n77zpztTNI%2FyWFPGyZUiC9bShvDSdLq30x82gNvZy75i%2BMM%2FKJbG2W%2B0zYGfWFlyZ%2FUKR5VXyn%2FCLIOPdbeZW2QVupekk4jkgiUFLxH3RyjXG4aZhp55duXwWPfjME%2F%2BqkuROJb7Xrh57K%2BGzGVYedMldXT0OooB4Afh4Q%2Fhyj%2BALGc%2BIv9rxSHXV74k%2FTdlG7ijDM5N%2FiNbMfj5c%2BXjnWLuJ5V3JOthO2OEdbOSF25sUdtr3zPx3Xu1vx7zNba%2BJmbrvNLj8BQ%3D%3D&srcPrefix=%2Fen-US%2Fdocs%2FWeb%2FCSS%2FReference%2FValues%2Fbasic-shape%2Fshape%2F*/

 .shape:hover {
     width: 200px;
     height: 200px;
     rotate: 180deg;

 }